@use '../util/' as *;



.cards{

    // User card
    &__user {
        background-color: $dark-blue;
        border-radius: rem(15);

        &__info {
            border-radius: inherit;
            background-color: $blue;
            padding: rem(30);
            display: flex;
            flex-direction: row;


            @include breakpoint('medium'){
                padding: rem(35) rem(30);
                flex-direction: column;
            }
            @include breakpoint-down('small'){
                align-items: center;
            }

            .image {
                border: rem(3) solid white;
                border-radius: 50%;
                height: rem(70);
                width: rem(70);

                @include breakpoint('medium'){
                    display: block;
                    height: rem(85);
                    width: rem(85);
                }

                img {
                    width: 100%;
                }
            }

            .name {
                margin: 0  0 0 rem(20);

                @include breakpoint('medium'){
                    margin: rem(40) 0;
                }

                &__report {
                    font-size: rem(14);
                    font-weight: 400;
                    color: $pale-blue;
                    @include breakpoint('medium'){
                        font-size: rem(16);
                    }
                }
                &__name {
                    font-size: rem(24);
                    font-weight: 300;
                    color: white;
                    @include breakpoint('medium'){
                        font-size: rem(38);
                    }
                }

            }
        }

        &__menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: rem(25);
            @include breakpoint('medium'){
                flex-direction: column;
                gap: rem(20);
            }

            .tab {
                font-family: 'Rubik', sans-serif;
                font-size: rem(18);
                font-weight: 400;
                text-decoration: none;
                color: $desaturated-blue;

                &:hover {
                    color: white;
                }
            }

            .active {
                color: white;
            }
            
        }
    }
}